# Virtual environment - don't upload Python environment
venv/


# Protect API key and other secrets
.env
.env.*
!.env.example
.env.local
.streamlit/secrets.toml


# Unnecessary temporary files
__pycache__/
*.pyc
*.pyo
*.pyd


# Original downloaded/input data
data/raw/

# Generated/cleaned data
data/processed/

# Power BI generated data
data/powerbi/


# We don't want log files in GitHub
logs/
*.log


# Apache Airflow local files
airflow/


# macOS files
.DS_Store


# IDE/editor files
.vscode/
.idea/
pyrightconfig.json


# Local MySQL database backup
weather_data_backup.sql

# Historical Big Data and Parquet
data/historical/
data/processed/weather_parquet/
*.parquet
.spark-staging*
.metastore_db
derby.log

# AWS local config
.aws/